@charset "utf-8";
#header{
    height: 30px;
    width: 100%;
    background: #F5F5F5;
}
.header{
    height: 30px;  
    /*background: red;*/
}
.header p{
    height: 30px;
    float: left;
    font-size: 12px;
}
.header .hdfirst,.header .hdsecond,.header .hdthird{
    padding-top: 7px;
    box-sizing: border-box;
} 
.header .hdfirst{
    margin-right: 30px;
    color: #666666;
}
.header .hdfirst a{
    color: #666666;
}
.header .hdfirst a:hover{
    color: lightblue;
}
.header .hdsecond>i{
    /*display: block;*/
    float: left;
    width: 12px;
    height: 16px;
    background:url(../images/shouji.png)no-repeat;
}
.header .hdsecond>span{
    float: left;
    cursor: pointer;
    color: #666666;
}
.header .hdsecond>span:hover{
    color: lightblue;
}
.header div{
    font-size: 12px;
    width: 90px;
    padding-left: 10px;
    box-sizing: border-box;
}
.header div>h2{
    height: 30px;
    width: 80px;
    line-height: 30px;
    cursor: pointer;
}
.header div>h2 span{
    display:inline-block;
    line-height: 30px;
    position: relative;
    right:-8px;
}
.header div>h2:hover{
    color: lightblue;
    background:#fff;
}
.header div>ul{
    width: 90px;
    display: none;
}
.header div:hover ul{
    display: block;
    background:#fff;
    position:absolute;
    /*z-index: 1;*/
}
.header div>ul li{
    margin-top: 5px;
    cursor: pointer;
}
.header div>ul li:hover{
    color: lightblue;
}
.header .hdthird{
    float: right;
    margin-left: 10px;
}
.header .hdthird a{
    margin-right: 10px;
    margin-left: 10px;
    color: #666666;
}
.header .hdthird a:hover{
   color: lightblue; 
}

/*logo*/
.logo{
    height: 90px;
    padding-top:30px;
    border-bottom: 1px solid #e8e8e8;
}

/*购物车*/
.shop{
    height:auto;
    padding-bottom: 50px;
}
.shop .shop_top{
    height: 50px;
    width:100%;
}
.shop .shop_top span{
    display:inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color:#212121; 
}
.shop .shop_top span:nth-child(2){
    color:#999;
    font-size: 14px;
}
.shop .shop_body input{
    cursor:pointer;
}
.shop .shop_body .shop_first{
    border:1px solid #e8e8e8;
    background:#f3f3f3;
    height:50px;
    line-height: 50px;
    font-size: 16px;
    color:#212121;
}
.shop .shop_body .shop_first>span{
    display:inline-block;
}
.shop .shop_body .shop_first .firp1{
    margin-left: 5px;
    margin-right: 390px;
}
.shop .shop_body .shop_first .firp2{
    width: 160px;
    text-align: center;
}
.shop .shop_body .shop_first .firp3{
    width: 120px;
    text-align: center;
}
.shop .shop_body .shop_first .firp4{
    width: 200px;
    text-align: center;
}
.shop .shop_body .shop_first .firp5{
    width: 185px;
    text-align: left;
}
.shop .shop_body .shop_second{
    line-height: 50px;
    font-size: 16px;
    height: 100px;
    color:#212121;
}
.shop .shop_body .shop_third{

}
.shop .shop_body .shop_third>ul{
    border: 1px solid #d8d8d8;
    /*border-width: 1px 1px 0 1px;*/
    height: 101px;
    width:100%;
    margin-bottom: 10px;
    overflow:hidden;
}
.shop .shop_body .shop_third>ul>li{
    float:left;
    height: 100%;
}
.shop .shop_body .shop_third>ul>li:nth-child(1){
    width: 80px;
}
.shop .shop_body .shop_third>ul>li:nth-child(1) input{
    position:relative;
    /*margin-right: 30px;*/
    left:30px;
    top: 0;
}
.shop .shop_body .shop_third>ul>li:nth-child(2){
    width: 450px;
}
.shop .shop_body .shop_third>ul>li:nth-child(2)>img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.shop .shop_body .shop_third>ul>li:nth-child(2)>p{
    line-height: 20px;
    overflow:hidden;
    margin-top: 8px;
    height:60px;
    font-size: 14px;
    color:#212121;
}
.shop .shop_body .shop_third>ul>li:nth-child(3){
    width: 160px;
}
.shop .shop_body .shop_third>ul>li:nth-child(3) del{
    color:#999; 
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-left: 55px;
}
.shop .shop_body .shop_third>ul>li:nth-child(3) p{
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color:#212121;
}
.shop .shop_body .shop_third>ul>li:nth-child(4){
    width: 120px;
    padding-top: 35px;
    box-sizing: border-box;
}
.shop .shop_body .shop_third>ul>li:nth-child(4)>.shop_third_sub,.shop_third_add{
    display:inline-block;
    width: 28px;
    height: 28px;
    border:1px solid #ddd;
    text-align: center;
    font-size: 25px;
    cursor:pointer;
    line-height: 28px;
}
.shop .shop_body .shop_third>ul>li:nth-child(4)>input{
    width: 56px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border:none;
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    transform:translateY(-5px);
}
.shop .shop_body .shop_third>ul>li:nth-child(5){
    width: 200px;
    padding-top: 35px;
    box-sizing: border-box;
}
.shop .shop_body .shop_third>ul>li:nth-child(5)>p{
    text-align: center;
    font-size: 16px;
    color:#e4393c;
}
.shop .shop_body .shop_third>ul>li:nth-child(6){
    width: 120px;
    padding-top: 35px;
    box-sizing: border-box;
    

}
.shop .shop_body .shop_third>ul>li:nth-child(6)>p{
    cursor:pointer;
    font-size: 16px;
    line-height: 24px;
    color:#212121;

}
.shop .shop_body .shop_third>ul>li:nth-child(6)>span{
    display:block;
    cursor:pointer;
    color:#2db4ea;
    font-size: 16px;
    line-height: 24px;
}
.shop .shop_foot{
    width: 100%;    
    height: 82px;
    background:#f3f3f3;
    border:1px solid #e8e8e8;
    font-size: 16px;
    line-height: 80px;
    color:#212121;
}
.shop .shop_foot>input{
    margin-left: 10px;
    margin-right: 10px;
}
.shop .shop_foot .shop_foot_sp1{
    color:#999;
    margin-right: 30px;
}
.shop .shop_foot>div{
    overflow:hidden;
}
.shop .shop_foot>div>div .shop_foot_p1{
    padding:0 10px;
    line-height: 30px;
    font-size: 16px;
    color:#212121;
    margin-top: 10px;
}
.shop .shop_foot>div>div .shop_foot_p1>span{
    display:inline-block;
    font-size:22px;
    color:#e4393c;
}
.shop .shop_foot>div>div .shop_foot_p2{
    color:#666;
    padding:0 10px;
    font-size: 16px;
    line-height: 30px;
}
.shop .shop_foot>div>a{
    display:block;
    font-size: 24px;
    color:#fff;
    background:#e4393c;
    cursor:pointer;
    line-height: 82px;
    padding:0 10px;

}







/*<!-- 底部 -->*/
#bottom{
    
}
.bottom{

}
.bottom .bottom_top{
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    background:#FFF;
}
.bottom .bottom_top>div{
    width: 25%;
}
.bottom .bottom_top>div>img{
    margin-right: 10px;
}
.bottom .bottom_top>div>span>h2{
    font-size: 24px;
    line-height: 25px;
    color:#212121;
}
.bottom .bottom_top>div>span>p{
    line-height: 25px;
    font-size: 12px;
}
.bottom .bottom_mid{
    height: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bottom .bottom_mid .bottom_mid_lf{
    width: 850px;
}
.bottom .bottom_mid .bottom_mid_lf>ul{
    width: 20%;
}
.bottom .bottom_mid .bottom_mid_lf>ul>h2{
    line-height: 40px;
    font-size: 16px;
    color:#212121;
}
.bottom .bottom_mid .bottom_mid_lf>ul>li{
    line-height: 30px;  
    color:#666;
    font-size: 12px;
    cursor:pointer;
}
.bottom .bottom_mid .bottom_mid_rt{
    width: 350px;
    padding-left: 56px;
    padding-right: 34px;
    box-sizing: border-box;
}
.bottom .bottom_mid .bottom_mid_rt>ul{
    margin-bottom: 20px;
    overflow:hidden;
}
.bottom .bottom_mid .bottom_mid_rt>ul>li{
    margin-right: 10px;
    margin-left: 10px;
}
.bottom .bottom_mid .bottom_mid_rt>ul>li img{
    border:1px solid #d8d8d8;
}
.bottom .bottom_mid .bottom_mid_rt>ul>li .bot_p1{
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color:#666;
}
.bottom .bottom_mid .bottom_mid_rt>ul>li .bot_p2{
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color:#666;
}
.bottom .bottom_mid .bottom_mid_rt>p{
    font-size:14px ;
}


/*<!-- 版权 -->*/
#bottom_bot{
    height: 100px;
    background:#414141;
}
#bottom_bot .bottom_bot{
    /*overflow:hidden;*/
    position:relative;
}
#bottom_bot .bottom_bot>div{
    position:absolute;
    height: 100px;
    left:50%;
    top:50%;
    /*width: 800px;*/
    transform:translateX(-50%);
}
#bottom_bot .bottom_bot>div>div{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
#bottom_bot .bottom_bot>div .bottom_bot_lf{
    margin-right: 10px;
}
#bottom_bot .bottom_bot>div .bottom_bot_mid{
    margin-right: 10px;
}
#bottom_bot .bottom_bot>div .bottom_bot_mid>p{
    text-align: center;
    font-size: 12px;
    color:#666;
    line-height: 24px;
}
#bottom_bot .bottom_bot>div .bottom_bot_rt{
    padding-left: 5px;
}
#bottom_bot .bottom_bot>div .bottom_bot_rt>img{
    margin-right: 5px;
    margin-left: 5px;
}